<%- include("./includes/header.ejs") %>

<h1>Inventory List</h1>

<a href="/create">Create Entry</a>
<a href="/export-csv">Export to CSV</a>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Unit Price</th>
      <th>Quantity</th>
      <th>Serial Number</th>
    </tr>
  </thead>
  <tbody>
    <% inventory.forEach(item => { %>
    <tr>
      <td><%= item.id %></td>
      <td><%= item.name %></td>
      <td><%= item.description %></td>
      <td><%=  `$${item.unitPrice}` %></td>
      <td><%= item.quantity %></td>
      <td><%= item.serialNo %></td>
      <td style="text-align: center;">
        <a style="background-color: orange; margin: 0;" href="/edit/<%= item.id %>">
          EDIT
        </a>
      </td>
      <td>
        <form action="/delete" method="post">
          <input type="hidden" name="id" value="<%= item.id %>">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <input type="submit" value="Delete">
        </form>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>

<%- include("./includes/footer.ejs") %>